/* Main Content */
.top {
    position: relative;
}

.top img {
    position: relative;
    width: 100%;
    height: auto;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1; /* 黒い背景が画像の上に表示されるようにz-indexを設定 */
}

.name-motto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    z-index: 2;
}

.name-ja {
    font-family: "a-otf-jun-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #ffffff;
}

.name-en {
    font-family: "quasimoda", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.motto {
    display: absolute;
    font-family: "quasimoda", sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 200px;
    margin-bottom: 0px;
    z-index: 2;
}

.mid {
    height: 800px;
}

.profile {
    align-items: left;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

/* Main Content */
.top {
    position: relative;
}

.top img {
    position: relative;
    width: 100%;
    height: auto;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1; /* 黒い背景が画像の上に表示されるようにz-indexを設定 */
}

.name-motto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    z-index: 2;
}

.name-ja {
    font-family: "a-otf-jun-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #ffffff;
}

.name-en {
    font-family: "quasimoda", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.motto {
    display: absolute;
    font-family: "quasimoda", sans-serif;
    text-align: right;
    color: #ffffff;
    margin-top: 200px;
    margin-bottom: 0px;
    z-index: 2;
}

.motto h2 {
    text-align: center;
}

.mid {
    height: 800px;
}

.profile {
    align-items: left;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.profile h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: #333;
}

.profile ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-content {
    font-weight: 300;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-content img {
    margin-right: 30px;
}

.links {
    align-items: left;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.links h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: #333;
}

.links ul {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links-content {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links-content ul li {
    padding: 15px;
}

.links-content ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    font-family: "quasimoda", "a-otf-jun-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.links-content span {
    margin-left: 10px;
    margin-bottom: 10px;
}

.links-content img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.links-content-left {
    margin-right: 100px;
}

@media (max-width: 1024px) {
    .profile {
        margin-left: 100px;
        margin-right: 100px;
    }
    .links {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 768px) {
    .profile {
        margin-left: 30px;
        margin-right: 30px;
    }
    .links {
        margin-left: 30px;
        margin-right: 30px;
    }

    .name-en {
        font-size: 50px;
    }

    .name-ja {
        margin-top: -30px;
        font-size: 20px;
    }

    .motto {
        margin-top: 50px;
        font-size: 13px;
    }

    .motto h2 {
        font-size: 15px;
    }

    .links-content ul li {
        padding: 10px;
    }

    .links-content-left {
        margin-right: 20px;
    }
}

@media (max-width: 550px) {
    .profile {
        margin-left: 20px;
        margin-right: 20px;
    }
    .links {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 425px) {
    .profile {
        margin-left: 20px;
        margin-right: 20px;
    }

    .links {
        margin-left: 20px;
        margin-right: 20px;
    }

    .name-en {
        font-size: 20px;
    }

    .name-ja {
        margin-top: -10px;
        font-size: 13px;
    }

    .profile h2 {
        font-size: 30px;
    }

    .links h2 {
        font-size: 30px;
    }

    .motto {
        display: none;
    }

    .profile-content img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

@media (max-width: 375px) {
    .links-content ul li {
        padding: 5px;
    }

    .links-content-left {
        margin-right: 20px;
    }
}

@media (max-width: 320px) {
    /* profileの画像とテキストを縦に並べる */
    .profile-content {
        display: flex;
        flex-direction: column;
    }

    .profile-content img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .links-content-left {
        margin-right: 10px;
    }
}