/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: "quasimoda", "a-otf-jun-pro", 'Arial',sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}