/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    transition: opacity 0.3s;
}

header img:hover {
    opacity: 0.7;
}

.header-right ul {
    list-style: none;
    display: flex;
}

.header-right ul li {
    margin-left: 30px;
}

.header-right ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.header-right ul li a:hover {
    color: #777;
}

/* Main Content */
main {
    margin-top: 40px;
}

.top {
    position: relative;
}

.top img {
    width: 100%;
    height: auto;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}

.name-ja {
    font-family: "a-otf-jun-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.name-en {
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}